<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="dao.mapper.MemberMapper">
      <select id="mypage" parameterType="map" resultType="member">
         SELECT Y_number, C_number, ser, M_like FROM i_like_member WHERE M_number = #{myNum}
      </select>
 
      <select id="youpage" parameterType="map" resultType="member">
         SELECT M_number, C_number, M_like FROM i_like_member WHERE Y_number = #{myNum}
      </select> 
</mapper>