<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="dao.mapper.UserMapper">
<!-- 	<select id="getUser" parameterType="map" resultType="User">
		select * from semiuser
		<where>
			<if test="idchks != null">userid in<foreach collection="idchks" open="(" close=")" item="id" separator=",">#{s_email}</foreach></if>
			<if test="userId != null">userId=#{s_email}</if>
			<if test="password != null">and password=#{s_password}</if>
		</where>
	</select> -->
</mapper>