<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="dao.mapper.UserMapper">
	<select id="getUser" parameterType="map" resultType="User">
		select * from member
		<where>
			<!-- <if test="idchks != null">m_email in<foreach collection="idchks" open="(" close=")" item="id" separator=",">#{email}</foreach></if> -->
			<if test="email != null">m_email=#{email}</if>
			<if test="password != null">and m_password=#{password}</if>
		</where>
	</select>
	
	 <select id="userlist" parameterType="map" resultType="User">
      SELECT * FROM member
   </select>
   
   <select id="likelist" parameterType="map" resultType="User">
      INSERT INTO i_like_member(M_number, Y_number, C_NUMBER, SER) VALUES (#{myNum}, #{userNum}, #{c_number}, 1)
   </select>
   
   <select id="likelist2" parameterType="map" resultType="User">
      DELETE FROM i_like_member WHERE M_number = #{myNum} AND Y_number = #{userNum}
   </select>
   
   <select id="likelist3" parameterType="map" resultType="User">
      UPDATE i_like_member SET M_LIKE = 1 WHERE Y_number=#{myNum} and M_number=#{userNum}
   </select>
   
   <select id="nolist" parameterType="map" resultType="User">
      DELETE FROM i_like_member WHERE Y_number = #{myNum} AND M_number = #{userNum}
   </select>
   
   <select id="ser" parameterType="map" resultType="String">
      SELECT ser FROM I_Like_Member where M_number=#{myNum} and Y_number=#{userNum}
   </select>  
   
   <select id="aer" parameterType="map" resultType="String">
      SELECT ser FROM I_Like_Member where Y_number=#{myNum} and M_number=#{userNum}
   </select>  
   
   <select id="list" parameterType="map" resultType="User" >
   	  select * from (select * from member
   	  	<if test="column !=null and find != null">
   	  		where ${column} like '%${find}%'
   	  	</if>
   	  	)
   </select>   
</mapper>